{:secrets {:production {:datomic {:username "datomic-user"
                                  :password "datomic-password"}
                        :swagger {:username "example-user"
                                  :password "example-password"}
                        :mailgun {:api-key "<api-key>"}}}}
